{% extends 'base.html' %}
{% block body %}


    <div class="add_movie">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <H1>ADD MOVIE DETAILS</H1><br>
            <input type="text" name="name" placeholder="Enter movie name"><br>
            <input type="text" name="desc" placeholder="Enter movie details"><br>
            <input type="text" name="year" placeholder="Enter movie year"><br>
            <input type="file" name="img" placeholder="choose movie image"><br>
            <input type="submit"><br><br>
            <a href="/">Cancel</a>
        </form>
    </div>


{% endblock %}